.form__legend {
    text-align: left;
    background-color: rgb(143, 201, 209);
    padding: 10px;
    border-radius: 5px;
}

.form__button {
    cursor: pointer;
    border: 2px solid red;
    padding: 10px 30px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 20px;
}

.form__list {
    list-style-type: none;
    padding-left: 0px;
    line-height: 1.5;
}

.form__fieldset {
    border: 5px solid;
    background-color: rgba(236, 243, 244, 0.695);
}

.form__input {
    padding: 10px;
}

.form__footer {
    color: aliceblue;
    font-size: 17px;
}