html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

.body {
    font-family: 'Lato', sans-serif;
    padding: 25px;
    margin: auto;
    max-width: 750px;
    text-align: center;
    background-color: aliceblue;
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    background-position: center;
}

.header {
    font-weight: bold;
    font-size: 35px;
    background-color: #fce9a638;
    border: 5px solid;
    border-radius: 35% 20%;
    border-style: none;
    padding: 40px;
}